---
// 1. Importas el Layout y el componente mágico
import MainLayout from "@layouts/MainLayout.astro";
import CocteleriaShowcase from "@components/store/CocteleriaShowcase.astro";
---

<MainLayout title="Mixología Premium | Diverpremier">
    <section class="py-10">
        <CocteleriaShowcase />
    </section>
</MainLayout>
